body {
            background-color: #fff;
            color: #333;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
        }
        .dark-mode {
            background-color: #222;
            color: #fff;
        }
        button#dark-mode-toggle {
            border: none;
            background: none;
            cursor: pointer;
        }
        button#dark-mode-toggle i {
            font-size: 24px;
            margin-right: 5px;
        }
